import meta_init.c2k.rc

#xiongshigui@wind-mobi.com 20161125 add begin
on init	
    mkdir /factory 0700 root root	
#xiongshigui@wind-mobi.com 20161125 add end

on post-fs

#   insmod /vendor/lib/modules/mtk_hif_sdio.ko
#   insmod /vendor/lib/modules/mtk_stp_wmt.ko
#   insmod /vendor/lib/modules/mtk_stp_uart.ko
#   insmod /vendor/lib/modules/mtk_stp_gps.ko
#   insmod /vendor/lib/modules/mtk_stp_bt.ko
#   insmod /vendor/lib/modules/mtk_fm_drv.ko
#   insmod /vendor/lib/modules/mtk_fm_priv.ko
#   insmod /vendor/lib/modules/mtk_wmt_wifi.ko

    insmod /vendor/lib/modules/mtk_wmt_detect.ko
    
 		
 
    
    #insmod /vendor/lib/modules/wlan.ko


#xiongshigui@wind-mobi.com 20161125 add begin
on post-fs-data		
    restorecon_recursive /factory
#xiongshigui@wind-mobi.com 20161125 add end
on boot



